.Search2{
width:800px;	
margin-left:627.5px;	
margin-top:30px;

}
.S1{
width:685px;
height:150px;	
border:1px solid black;	
}

.S2{
width:150px;
height:150px;	
border:1px solid black;
position:relative;			
}
.S0{
margin-left:615px;	
	
	
}
.c1{
margin-left:760px;
margin-top:20px;	
	
	
}
table{

width:920px;
margin-left:560px;	
border-collapse: separate;
border-spacing: 0 20px;	
}
.td1{
width:200px;	
height:200px;	
}
.td2{
width:520px;	
height:200px;		
text-align:center;		
}
.td3{
width:200px;	
height:200px;	
}
.bar{
width:600px;	

	
}
b{
font-size:32px;
padding-top:5px;
}

