h1{
margin-left:855px;
margin-top: 150px;
font-size:65px;
}

.RE{
width:960px;
margin-left:480px;
text-align:center;
}
.c1{
margin-left:760px;
margin-top:100px;	
	
	
	
}
.d1{
margin-top:20px;
margin-left:1310px;	
position:fixed;		
	
	
}
.Search{
width:250px; 
margin-left:850px;

}