h1{

margin-left:805px;
margin-top: 50px;
font-size:50px; 
white-space: nowrap;		
	
}
table{
width:50%;
margin-left:500px;
	
	
}

.c1{
margin-left:500px;	
font-size:40px;	
white-space: nowrap;		
}
.c2{


font-size:20px;	
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
	
}
.c3{
padding:0px;
border:0px;
margin:0px;

	
}
.c4{

margin-left:1170px;	
position:fixed;	
	
}
.c5{

margin-left:1310px;	
position:fixed;	
	
}
.c0{
margin-left:500px;	
font-size:20px;		
white-space: nowrap;		
	
	
}
.c01{
margin-left:500px;	
margin-top:20px;		
}
.h{
margin-left:900px;	
	
}
.p1{

margin-left:510px;

	
	
}
.p2{
width:300px;
height:20px;		
	
	
}
.Q1{
margin-left:845px;	
	
	
	
}
.Q2{
margin-left:785px;	
	
	
	
	
}
.c05{
margin-left:600px;		
white-space: nowrap;	
	
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
input:focus {
  border-color: green
}

